<div class="container">
                            

  <h2 class="display-4" align="center" style="padding-top: 10Ppx; color:black;  padding-bottom: 10px;">Participants for
    <%= @rsvp_events.first.attending_event.name %>
  </h2>

  <div style="font-size:150%" class="row">

    <% @rsvp_events.each do |rsvp| %>

    <ul>
      <li>
        <%= rsvp.participant.full_name %>
      </li>
      <li> email :
        <%= rsvp.participant.email %>
      </li>
    </ul>

    <% end %>

  </div>
