<div class="container">
    <h1 style="padding-top: 10px; padding-bottom: 10px;">
        <%= @rsvp_event.event.name %>
    </h1>


    <br />

    <h3>Date:
        <%= @rsvp_event.event.date %>
    </h3>
    <h3>Location:
        <%= @rsvp_event.event.location %>
    </h3>

    <br />

    <hr />

    <br />

    <p>
        <h5>
            <%= @rsvp_event.event.description %>
        </h5>
    </p>

    <br />



    <br />

    <br />