
    <h2 >

        <%= @event.name %>
    </h2>
    <br />

    <h4>Date:
        <%= @event.date %>
    </h4>
    <h4>Location:
        <%= @event.location %>
    </h4>
    <br />
    <hr />
    <br />
    <p>
        <h5>Description:
            <%= @event.description %>
        </h5>
    </p>
